section.about-me
    .about-me__decorative.start.start--t-l.decorative.decorative--gradient.decorative__brace
        | {&#32;}
    .about-me__decorative.start.start--t-l.decorative.decorative--gradient.decorative__hash
        | &#35;
    .about-me__decorative.start.start--t-l.decorative.decorative--gradient.decorative__tag-1
        | &#60;&#47;&#62;
    .about-me__decorative.start.start--t-l.decorative.decorative--gradient.decorative__tag-2
        | &#60;&#47;&#62;
    .about-me__decorative.start.start--t-r.decorative.decorative--gradient.decorative__div-1
        | &#60;div&#62;
    .about-me__decorative.start.start--t-r.decorative.decorative--gradient.decorative__div-2
        | &#60;div&#62;
    .about-me__photo
    .central-container
        h1.about-me__name.section-heading
            | Дмитрий Алексеев
        h2.about-me__occupation
            | Frontend-разработчик и веб-верстальщик
        button.about-me__button.button.button--red.js-popup
            | Узнать больше