footer.page-footer
    .central-container
        .page-footer__main
            .page-footer__wrapper-top
                nav.page-footer__nav.main-nav
                    ul.main-nav__list.main-nav__list--footer
                        li.main-nav__item.main-nav__item--footer
                            a(class="main-nav__link main-nav__link--footer" href="#services")
                                | Услуги
                        li.main-nav__item.main-nav__item--footer
                            a(class="main-nav__link main-nav__link--footer" href="#portfolio")
                                | Портфолио
                        li.main-nav__item.main-nav__item--footer
                            a(class="main-nav__link main-nav__link--footer" href="#price")
                                | Стоимость
                .page-footer__contacts.contacts
                    a(class="contacts__item tel tel--footer" href="tel:+74999957755")
                        i(class="fa fa--phone" aria-hidden="true")
                        | +7 (499) 995-77-55
                    a(class="contacts__item" href="mailto:dmitry@alekseev.com")
                        i(class="fa fa--envelope" aria-hidden="true")
                        | dmitry@alekseev.com
            .page-footer__wrapper-bottom
                button.page-footer__button.button.button--footer.js-popup
                    | Заказать звонок
                .page-footer__social.social
                    ul.social__list
                        li.social__item
                            a(class="social__link social__link--vk" href="#")
                                | Вконтакте
                        li.social__item
                            a(class="social__link social__link--fb" href="#")
                                | Facebook
                        li.social__item
                            a(class="social__link social__link--tw" href="#")
                                | Twitter
                        li.social__item
                            a(class="social__link social__link--inst" href="#")
                                | Instagram
    .page-footer__copyright.copyright
        p.copyright__text &copy; Дмитрий Алексеев, 2016 – 2020