section.price
    .price__decorative.price__decorative--brace-2.decorative.decorative--white.decorative__brace-2
        | {&#32;}
    .price__decorative.price__decorative--brace-3.decorative.decorative--white.decorative__brace-3
        | {&#32;}
    .price__decorative.price__decorative--hash-2.decorative.decorative--white.decorative__hash-2
        | &#35;
    .price__decorative.price__decorative--tag-3.decorative.decorative--white.decorative__tag-3
        | &#60;&#47;&#62;
    .price__decorative.price__decorative--div-3.decorative.decorative--white.decorative__div-3
        | &#60;div&#62;
    .central-container
        .price__wrapper
            h2.visually-hidden Стоимость работ
        .p#price.price__description
            | Адаптивная вёрстка под все устройства и&nbsp;браузеры от 1000 рублей
            | всего за&nbsp;4&nbsp;часа.*
        .price__note.note
            p.note__symbol *
            p.note__text 
                | Срок и стоимость могут отличаться от заявленных и рассчитываются индивидуально, 
                br.note__br
                | в зависимости от&nbsp;сложности задач.