section.services
    .central-container
        h2#services.services__title.section-heading
            | Что я делаю
        ul.services__list
            li.services__item.services__item--markup
                | Вёрстка лендинг–страниц и&nbsp;сайтов любой сложности
            li.services__item.services__item--adaptive
                | Адаптивная вёрстка под&nbsp;все браузеры и устройства
            li.services__item.services__item--frontend
                | Frontend – разработка и&nbsp;программирование
            li.services__item.services__item--correction
                | Исправление и доработка существующей вёрстки
        button(class="services__button button button--red js-popup") Узнать стоимость